<!-- Your existing content in end.ejs -->

<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-logo">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
            
            <!-- <img src="../logo/logo.png" alt="Your Logo"> -->
            <p>&copy; 2024 <a class="website" href="https://mrinmoy.org/">mrinmoy.org</a> All rights reserved.</p>
        </div>
        <div class="footer-info">
            <!-- <p>ABC Company</p> -->
            <!-- <p>123 Main Street, City, Country</p> -->
            <!-- <p>Email: info@example.com</p> -->
        </div>
        <div class="social-icons">
            <!-- Add your social media icons and links here -->
            <a href="https://github.com/themrinmoy" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/themrinmoy/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>

</footer>

</body>

</html>
